@media only screen and (max-width: 992px) 
{
.center{
    width: 100%;
}

.navigation-center{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.navigation-center ul{
    position: fixed;
    bottom: 0;
    background: #2980b9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom,#2980b9, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom,#2980b9, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    justify-content: center;
    padding: 20px 0;
    margin: 0;
    z-index: 10;
}
.navigation-center ul li{
    
    margin: auto;
}
.presentation-container {
    width: 100%;
}
.godlist-container{
    justify-content: space-around;
}
.gods-description img {
    margin-left: 20px;
}
/*contact form*/
.form-group{
    width: 70%;
}
/* gallery*/
.gallery-container{
    width: 48%;
    
}


}
