@media only screen and (max-width: 992px) {
    .center {
        width: 100%;
    }

    /* CONTENU header.php */
    .navigation-center {
        display: flex;
        justify-content: center;
        width: 100%;

    }

    .navigation-center ul {
        position: fixed;
        bottom: 0;
        /* height: 3vh; */
        background: #2980b9;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #2980b9, #2c3e50);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #2980b9, #2c3e50);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        width: 100%;
        justify-content: center;
        padding: 20px 0;
        margin: 0;
        z-index: 10;
    }

    .navigation-center ul li {

        margin: auto;
    }

    /* FIN CONTENU header.php */
    /* CONTENU home.php */
    .presentation-container {
        width: 100%;

    }

    .presentation-container p {
        text-align: left;
        height: 400px;
        overflow: auto;
    }

    /* FIN CONTENU home.php */
    /* CONTENU gods.php */
    .search-gods {
        width: 100%;
    }

    .gods-description {
        margin-bottom: 80px;
    }

    .gods-description img {
        margin-left: 20px;
        margin-bottom: 10px;
    }

    #result {
        width: 100%;
    }

    .gods {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }

    .gods div {
        margin-left: 20px;
    }

    .gods div a {
        text-align: center;
    }

    .gods div p {
        margin-right: 20px;
    }

    /* FIN CONTENU gods.php */
    /* CONTENU god.php */

    .god-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .god {
        margin-bottom: 80px;
        height: auto;
    }

    /* FIN CONTENU god.php */
    /* CONTENU contact.php */
    .contact {
        background: white;
    }

    .contact-form {
        background: #2980b9;
        padding: 15px 0;
        width: 90%;
    }

    .form-group {
        width: 70%;
    }

    /* CONTENU gallery.php */
    .gallery-container {
        width: 48%;
    }

    .gallery-container a img {
        width: 100%;
    }

    .overlay {
        width: 100%;
    }

    /* FIN CONTENU gallery.php */
    /* CONTENU cgu.php, mentionsLegale.php */
    .cgu,
    .mentions {
        margin: 10px;
    }

    /* login */
    .login-container h1 {
        text-align: center;
    }

    .login-container form {
        width: 80%;
    }

    /* FIN CONTENU cgu.php, mentionsLegale.php */
/*
/
/
BACK OFFICE
/
/
/
*/
    /* CONTENU home.php */
    .galleryback {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 0;
        

    }

    .galleryback li {
        width: 28%;
        margin-bottom: 5px;
        padding: 10px;
    }

    .galleryback:last-child {
        margin-bottom: 80px;
    }

    /* CONTENU godUpdate.php */
    .godback {
        padding-bottom: 80px;
    }

    .backform {
        height: 100%;
        width: 90%;
        padding: 0;
    }
    .backform div textarea {
        width: 100%;
    }
    /* FIN CONTENU godUpdate.php */
    /* CONTENU footer.php */
    footer {
        background: #2980b9;
        margin-bottom: 50px;
        padding: 0;
    }
}

@media only screen and (min-width: 992px)  and (max-width: 1280px) {

    
    .center {
        width: 100%;
    }
    /* CONTENU header.php */
    .navigation-center{
        width: 100%;
    }
    /* FIN CONTENU header.php */
    /* CONTENU gods.php */
    #result {
        width: 100%;
    }
    #result div p{
        margin: 0 20px;
    }

    .gods div {
        margin-left: 20px;
    }
    .gods a {
        margin-left: 20px;
    }

    .gods div p {
        margin-right: 20px;
    }
    /* FIN CONTENU gods.php */
    /* CONTENU god.php */
    .god-container div p {
        margin: 0 20px;
    }
    .god{
        height: 100%;
    }
    /* FIN CONTENU god.php */
    /* CONTENU gallery.php */
    .gallery-container{
        width: 28%;
    }
    .gallery-container a img{
        width: 100%;
    }
    .overlay{
        width: 100%;
    }
    /* FIN CONTENU gallery.php */
   /* CONTENU cgu.php,mentionsLégales.php */
   .cgu, .mentions{
       margin: 20px;
   }
   /* FIN CONTENU cgu.php,mentionsLégales.php */
/*
/
/
BACK OFFICE
/
/
/
*/
    /* CONTENU home.php */
    .galleryback {
        padding-left: 0;
    }
}