body {
    margin: 0;
    padding: 0;
}
main{
    min-height: 100vh;

}
h1,
p,
a {
    margin: 0;
    text-decoration: none;
}

.lato {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.center {
    width: 1200px;
    margin: 0 auto;
}

/* HEADER */
.navigation {
    background: #2980b9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c3e50, #2980b9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2c3e50, #2980b9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.first-title
{
    text-align: center;
    margin: 20px;
    color: rgba(82, 80, 80, 1);
}
.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.title p {
    font-size: 1.5rem;
}

.logo {
    width: 200px;
    height: 150px;
}

.navigation-center {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-center a {
    text-decoration: none;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: #fff;
}

.navigation-center a:hover {
    text-decoration: underline;
}

.navigation-center ul {
    list-style-type: none;
    display: flex;
}

.navigation-center ul li {
    margin-right: 20px;
}

/* FIN HEADER */
/* BARRE DE COOKIE */
.cookie{
    display: none;
    justify-content: center;
    width: 100%;
    background-color: #020f1880;
    padding: 5px 0;
}
.cookie p {
    color: white;
}
#hideCookie{
    border: none;
    margin-left: 10px;
    background-color: #2980b9;
    padding: 5px;
    color: white;
}
#hideCookie:hover{
    background-color: white;
    color: #2980b9;
}
/* CONTENU home.php */
.presentation {
    background-color: #fff;
    padding: 70px;

}

.presentation-container {
    text-align: justify;
}

.presentation-container h1,
.presentation-container h2 {
    text-align: center;
    font-size: 2rem;
    padding: 20px 0;
    color: rgba(82, 80, 80, 1);
}

.presentation-container p {
    padding: 15px 0;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: lighter;
    font-size: 1.3rem;
    line-height: 1.5;
}

.strong {
    font-weight: bolder;
}

/* FIN CONTENU home.php */
/* CONTENU footer.php */
footer {
    background: #2980b9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2980b9, #2c3e50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2980b9, #2c3e50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

footer ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

footer ul li {
    margin-right: 15px;
    color: white;
}

footer ul li a {
    color: white;
}

/* FIN CONTENU footer.php */
/* CONTENU gods.php*/
.search-gods {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 450px;
    margin: 50px auto 0 auto;
}
/* searchbar div */
#result {
    display: flex;
    justify-content: center;
    width: 48%;
}
#result div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#result div a{
    width: fit-content;
}
#result div p {
    text-align: justify;
    font-size: 1.1rem;
    margin: 25px 10px 0;
    overflow: auto;
    height: 180px;
}

#result h2 {
    font-weight: 400;
    font-size: 1.7rem;
    color: #2980b9;
    margin-top: 0;
}

#result h2:hover {
    color: rgba(82, 80, 80, 1);
}
#result img{
    
    width: 250px;
}
.gods-description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    padding-top: 80px;

}

.gods {
    display: flex;
    width: 48%;
}

.gods div p {
    font-size: 1.1rem;
    margin-top: 25px;
    overflow: auto;
    height: 180px;
}

.gods h2 {
    font-weight: 400;
    font-size: 1.7rem;
    color: #2980b9;
    margin-top: 0;
}

.gods h2:hover {
    color:rgba(82, 80, 80, 1);
}

.gods-description img {
    width: 250px;
    margin-bottom: 100px;
}

.gods div {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

/* FIN CONTENU gods.php */
/* CONTENU god.php */
.god{
    display: flex;
    justify-content: center;
    align-items: center;
}
.god-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;

}

.god-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.god-container div h1 {
    margin: 10px 0;
}

.god-container img {
    width: 30%;

}

/* FIN CONTENU god.php */
/* CONTENU gallery.php*/
.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.gallery-container {
    display: flex;
    justify-content: center;
    width: 400px;
    margin: 20px 0;
    position: relative;
}

.overlay h3 {
    color: #fff;
    font-weight: 300;
}
.gallery-container a{
    display: flex;
}

/* hover*/
.overlay {
    width: 400px;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: rgba(80, 80, 80, 0.75);
    opacity: 0;

}

.gallery-container:hover>.overlay {
    transition: 0.4s;
    opacity: 1;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

/* FIN CONTENU gallery.php */
/* CONTENU contact.php */
.contact {
    display: flex;
    justify-content: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2980b9;
    background: -webkit-linear-gradient(to bottom, #2980b9, #2c3e50);
    background: linear-gradient(to bottom, #2980b9, #2c3e50);
    width: 800px;
    padding: 80px 20px;
}

.contact-form button {
    margin: 15px 0;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 7px;
    background-color: #fff;
    border: 1px solid #fff;
    color: #2c3e50;
}

.contact-form button:hover {
    margin: 15px 0;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 7px;
    background-color: #2c3e50;
    color: #fff;
    border: 1px solid #fff;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 80%;
    color: #fff;
}

.form-group label {
    text-align: center;
    margin: 10px 0;
}

.form-group input,
.form-group textarea {
    border: 1px solid #fff;
    padding: 3px;
}

/* FIN CONTENU contact.php */
/* erreur */
#erreur {
    color: red;
}

/* CONTENU mentionLegales.php */
.mentions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-top: 20px;
    height: 100%;
    overflow: hidden;
}

.mentions p,
.cgu p,
.cgu h3 {
    color: rgba(82, 80, 80, 1);
}

/* FIN CONTENU mentionLegales.php */
/* CONTENU cgu.php */
.cgu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-top: 20px;
    overflow: hidden;
}
/* FIN CONTENU cgu.php */
/* CONTENU 404.php */
.wrong-path{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #2980b9;
    background: -webkit-linear-gradient(to bottom, #2980b9, #2c3e50);
    background: linear-gradient(to bottom, #2980b9, #2c3e50);
}
.wrong-path h1{
    font-size: 3rem;
    font-weight: 300;
    color: white;
}
.wrong-path p{
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
}
.wrong-path a{
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    color: #2980b9;
}
.wrong-path a:hover{
    margin-top: 20px;
    padding: 10px;
    background-color: #2980b9;
    color: white;
}
/* FIN CONTENU 404.php */
/*
/
/
BACK OFFICE
/
/
/
*/
/* CONTENU login.php */
.login {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #2c3e50;
    height: 100vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container h1 {
    color: #fff;
    font-weight: 300;
}

.login-container button {
    border: 1px solid #fff;
    padding: 10px;
    background-color: lightgray;
    color: #2c3e50;
    font-weight: 600;
}

.login-container button:hover {
    background-color: #2c3e50;
    color: #fff;
}

.login-container  .button {
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px;
    color: #2c3e50;
    font-weight: 500;
    background-color: lightgray;


}

.login-container .button:hover {
    background-color: #2c3e50;
    color: #fff;
}

.login-container form {
    height: 300px;
    width: 25%;
    margin-top: 50px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.login-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-group input {
    margin-top: 10px;
    padding: 3px;

}

/* FIN CONTENU login.php */
/* CONTENU home.php*/
.table-image {
    width: 100px;
    height: 100px;
}

.admin-title {
    text-align: center;
    background-color: #2980b9;
    color: #fff;
    font-weight: 400;
}

.anchor-center {
    text-align: center;
    background-color: #2980b9;
    padding: 10px 0;
}

.anchor-center a {
    color: #fff;
    font-size: 1.2rem;
    border: 1px solid #fff;
    padding: 5px;
}

.anchor-center a:hover {
    color: #2980b9;
    background-color: #fff;
    border: 1px solid #fff;
}

/* FIN CONTENU home.php*/
/* CONTENU godCreate.php/godUpdate.php/galleryCreate.php */
.godback {
    
    display: flex;
    justify-content: center;
}

.backform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 0 50px;
    border: 1px solid white;
    background-color: #2980b9;

}

.backform div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
}

.backform div textarea {
    width: 400px;
}

.backform div button {
    border: 1px solid #fff;
    padding: 10px;
    background-color: #fff;
    color: #2980b9;
}

.backform div button:hover {
    border: 1px solid #fff;
    padding: 10px;
    background-color: #2980b9;
    color: #fff;
}

.backform label {
    vertical-align: top;
    color: #fff;
}

/* FIN CONTENU godCreate.php/godUpdate.php/galleryCreate.php */
/* CONTENU galleryBack.php*/
.galleryBack {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
}

.galleryBack li {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
}
.galleryBack li  a{
    color: #2980b9;
    margin-top: 5px;
}
.galleryBack li  a:hover{
    color: #2980b9;
    margin-top: 5px;
    color: rgba(82, 80, 80, 1);
}

.galleryBack li div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FIN CONTENU galleryBack.php*/